@import url("https://p.typekit.net/p.css?s=1&k=akv1gnh&ht=tk&f=6840&a=16581429&app=typekit&e=css");

@font-face {
font-family:"cooper-black-std";
src:url("https://use.typekit.net/af/4e1b68/000000000000000000013101/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/4e1b68/000000000000000000013101/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/4e1b68/000000000000000000013101/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;
font-style:normal;
}

body{
    background: linear-gradient(90deg, rgba(167,134,223,1) 0%, rgba(255,110,96,1) 35%, rgba(251,221,116,1) 100%);
    font-family: cooper-black-std,serif;
    font-style: normal;
    color: whitesmoke;
    
}
.content
{
    background: linear-gradient(270deg, rgba(167,134,223,1) 0%, rgba(255,110,96,1) 35%, rgba(251,221,116,1) 100%);
    margin: 7rem;
    padding: 8rem;
    padding-left: 33re,;
    align-content: center;
    background-blend-mode: multiply;
}

.content li
{
    font-size: x-large;
}

h1{
    font-size: 6rem;
}